h1 {
    color: white !important;

}

#masthead {
    background-color: black !important;
    font-size: 50px;
}
 
#ptag {
    color:white;

}

.panel-heading{
 background-color: darkblue !important;
 color: white !important;
}